In [1]:
import pandas as pd
from sqlalchemy import create_engine
#function(file,year)
#run the fucntion 10 times to get 10 df
#change column name,remove 1st row,add date cloumn, add year column
#combine 10 dataframes
#load final dataframe into database

In [2]:
#Declar the file path of each year
file_path_2019='raw_data/USHousing-2019.csv'
file_path_2018='raw_data/USHousing-2018.csv'
file_path_2017='raw_data/USHousing-2017.csv'
file_path_2016='raw_data/USHousing-2016.csv'
file_path_2015='raw_data/USHousing-2015.csv'
file_path_2014='raw_data/USHousing-2014.csv'
file_path_2013='raw_data/USHousing-2013.csv'
file_path_2012='raw_data/USHousing-2012.csv'
file_path_2011='raw_data/USHousing-2011.csv'
file_path_2010='raw_data/USHousing-2010.csv'

In [3]:
#function to transform the raw data
def data_transf(file_path,year):
    origin_df=pd.read_csv(file_path)
    
    extract_df=origin_df[['NAME','DP04_0001E','DP04_0002E','DP04_0002PE','DP04_0007E','DP04_0008E','DP04_0009E',
                       'DP04_0010E','DP04_0011E','DP04_0012E','DP04_0013E','DP04_0014E','DP04_0015E',
                       'DP04_0039E','DP04_0040E','DP04_0041E','DP04_0042E','DP04_0043E','DP04_0044E',
                       'DP04_0080E','DP04_0081E','DP04_0082E','DP04_0083E','DP04_0084E','DP04_0085E','DP04_0086E',
                       'DP04_0087E','DP04_0088E','DP04_0089E','DP04_0110E','DP04_0111E','DP04_0112E',
                       'DP04_0113E','DP04_0114E','DP04_0115E','DP04_0116E','DP04_0117E','DP04_0118E','DP04_0119E',
                       'DP04_0120E','DP04_0121E','DP04_0122E','DP04_0123E','DP04_0124E','DP04_0125E']]
    
    renamed_df=extract_df.rename(columns={'NAME':'State','DP04_0001E':'Total Housing Units','DP04_0002E':'Occupied Units','DP04_0002PE':'Occupied Percent','DP04_0007E':'1-unit det',
                                'DP04_0008E':'1-unit att','DP04_0009E':'2 units','DP04_0010E':'3 or 4 units','DP04_0011E':'5 to 9 units','DP04_0012E':'10 to 19 units',
                                'DP04_0013E':'20 or more units','DP04_0014E':'Mobile home','DP04_0015E':'boat,RV,van,etc.','DP04_0039E':'No bedroom','DP04_0040E':'1 bedroom',
                                'DP04_0041E':'2 bedrooms','DP04_0042E':'3 bedrooms','DP04_0043E':'4 bedrooms','DP04_0044E':'5 or more bedrooms','DP04_0080E':'owner-occupied units',
                                'DP04_0081E':'Less than $50k','DP04_0082E':'$50,000 to $99,999','DP04_0083E':'$100,000 to $149,999','DP04_0084E':'$150,000 to $199,999',
                                'DP04_0085E':'$200,000 to $299,999','DP04_0086E':'$300,000 to $499,999','DP04_0087E':'$500,000 to $999,999','DP04_0088E':'$1M or more',
                                'DP04_0089E':'Median (dollars)','DP04_0110E':'units with mortgage with SMOCAPI','DP04_0111E':'SMOCAPI:less than 20 perc(m)','DP04_0112E':'SMOCAPI:20 to 24.9 perc(m)',
                                'DP04_0113E':'SMOCAPI:25 to 29.9 perc(m)','DP04_0114E':'SMOCAPI:30 to 34.9 perc(m)','DP04_0115E':'SMOCAPI:35 perc(m) or more','DP04_0116E':'SMOCAPI not computed(m)',
                                'DP04_0117E':'units without mortgage with SMOCAPI','DP04_0118E':'SMOCAPI:less than 10 perc(nm)','DP04_0119E':'SMOCAPI:10 to 14.9 perc(nm)',
                                'DP04_0120E':'SMOCAPI:15 to 19.9 perc(nm)','DP04_0121E':'SMOCAPI:20 to 24.9 perc(nm)','DP04_0122E':'SMOCAPI:25 to 29.9 perc(nm)',
                                'DP04_0123E':'SMOCAPI:30 to 34.9 perc(nm)','DP04_0124E':'SMOCAPI:35 perc(nm) or more','DP04_0125E':'SMOCAPI not computed(nm)'})
    
    renamed_df['Year']=year
    renamed_df['Date']=f'{year}-01-01'
    
    row_df=renamed_df.iloc[1:52,:]
    
    
    return row_df

In [4]:
#cleanup/transform each dataset
final_2019=data_transf(file_path_2019,2019)
final_2018=data_transf(file_path_2019,2018)
final_2017=data_transf(file_path_2019,2017)
final_2016=data_transf(file_path_2019,2016)
final_2015=data_transf(file_path_2019,2015)
final_2014=data_transf(file_path_2019,2014)
final_2013=data_transf(file_path_2019,2013)
final_2012=data_transf(file_path_2019,2012)
final_2011=data_transf(file_path_2019,2011)
final_2010=data_transf(file_path_2019,2010)

In [5]:
merged_df=pd.concat([final_2019,final_2018,final_2017,final_2016,final_2015,final_2014,final_2013,final_2012,final_2011,final_2010])
final_df=merged_df.reset_index(drop=True)
final_df.tail()

,State,Total Housing Units,Occupied Units,Occupied Percent,1-unit det,1-unit att,2 units,3 or 4 units,5 to 9 units,10 to 19 units,...,SMOCAPI:less than 10 perc(nm),SMOCAPI:10 to 14.9 perc(nm),SMOCAPI:15 to 19.9 perc(nm),SMOCAPI:20 to 24.9 perc(nm),SMOCAPI:25 to 29.9 perc(nm),SMOCAPI:30 to 34.9 perc(nm),SMOCAPI:35 perc(nm) or more,SMOCAPI not computed(nm),Year,Date
505,Virginia,3562258,3191847,89.6,2193479,380210,54928,93030,162803,210811,...,370653,114684,63715,37617,24914,14194,48801,6791,2010,2010-01-01
506,Washington,3195098,2932477,91.8,1984984,129382,71700,112448,152584,160802,...,281949,116837,65928,37084,23310,14522,51354,5813,2010,2010-01-01
507,West Virginia,894983,728175,81.4,638080,18937,19452,28169,25424,15196,...,161240,51486,25295,13350,8179,5210,17989,4024,2010,2010-01-01
508,Wisconsin,2725153,2386623,87.6,1805692,107864,180832,98470,130731,97095,...,259857,131950,67613,38934,25867,15589,54027,4332,2010,2010-01-01
509,Wyoming,280281,233128,83.2,183348,15253,5456,11948,11271,6338,...,37771,11519,6123,2841,2792,1300,5220,823,2010,2010-01-01

In [6]:
convert_dict1 = {'Total Housing Units':int,'Occupied Units': int,'Occupied Percent':float,'1-unit det':int,'1-unit att':int,
                '2 units':int,'3 or 4 units':int,'5 to 9 units':int,'10 to 19 units':int,
                '20 or more units':int,'Mobile home':int,'boat,RV,van,etc.':int,'No bedroom':int,
                '1 bedroom':int,'2 bedrooms':int} 
  
final_df = final_df.astype(convert_dict1)

In [7]:
convert_dict2={'3 bedrooms':int,'4 bedrooms':int,'5 or more bedrooms':int,'owner-occupied units':int,'Less than $50k':int,
            '$50,000 to $99,999':int,'$100,000 to $149,999':int,'$150,000 to $199,999':int,'$200,000 to $299,999':int,
        '$300,000 to $499,999':int,'$500,000 to $999,999':int,'$1M or more':int,'Median (dollars)':int,
        'units with mortgage with SMOCAPI':int,'SMOCAPI:less than 20 perc(m)':int,'SMOCAPI:20 to 24.9 perc(m)':int,
               'SMOCAPI:25 to 29.9 perc(m)':int,'SMOCAPI:30 to 34.9 perc(m)':int,'SMOCAPI:35 perc(m) or more':int}
final_df=final_df.astype(convert_dict2)

In [8]:
convert_dict3={'SMOCAPI not computed(m)':int,'units without mortgage with SMOCAPI':int,'SMOCAPI:less than 10 perc(nm)':int,
              'SMOCAPI:10 to 14.9 perc(nm)':int,'SMOCAPI:15 to 19.9 perc(nm)':int,'SMOCAPI:20 to 24.9 perc(nm)':int,
              'SMOCAPI:25 to 29.9 perc(nm)':int,'SMOCAPI:30 to 34.9 perc(nm)':int,'SMOCAPI:35 perc(nm) or more':int,
              'SMOCAPI not computed(nm)':int}
final_df=final_df.astype(convert_dict3)

In [9]:
state_code_df=pd.read_csv("raw_data/states-code.csv")
state_code_df.head()

        State  Abbrev Code
0     Alabama    Ala.   AL
1      Alaska  Alaska   AK
2     Arizona   Ariz.   AZ
3    Arkansas    Ark.   AR
4  California  Calif.   CA

In [10]:
left_join=pd.merge(final_df,state_code_df,on='State',how='left')
left_join.head()

,State,Total Housing Units,Occupied Units,Occupied Percent,1-unit det,1-unit att,2 units,3 or 4 units,5 to 9 units,10 to 19 units,...,SMOCAPI:15 to 19.9 perc(nm),SMOCAPI:20 to 24.9 perc(nm),SMOCAPI:25 to 29.9 perc(nm),SMOCAPI:30 to 34.9 perc(nm),SMOCAPI:35 perc(nm) or more,SMOCAPI not computed(nm),Year,Date,Abbrev,Code
0,Alabama,2284922,1897576,83.0,1557624,39749,40094,70458,97787,76626,...,55668,29523,19914,13017,42615,7862,2019,2019-01-01,Ala.,AL
1,Alaska,319867,252199,78.8,200974,23055,17751,22945,15015,9482,...,5642,3230,2374,891,5764,499,2019,2019-01-01,Alaska,AK
2,Arizona,3076048,2670441,86.8,1947693,146661,41549,105392,122556,135998,...,59786,33922,19820,15488,56680,11628,2019,2019-01-01,Ariz.,AZ
3,Arkansas,1389159,1163647,83.8,968020,20674,43794,48582,48544,53218,...,34660,21684,10598,8907,24083,4408,2019,2019-01-01,Ark.,AR
4,California,14367012,13157873,91.6,8206562,982710,342815,789366,876097,749775,...,204518,135501,91298,63808,256289,27805,2019,2019-01-01,Calif.,CA

In [11]:
#left_join.to_csv('final_dataset.csv',index=False)

In [12]:
#connect to the database / if not exist then create
engine = create_engine('sqlite:///USHousing_Census.sqlite', echo=False)
sqlite_connection = engine.connect()

In [13]:
#create a table, if exists, drop the table before inserting the new values
sqlite_table = "Housing_2010to2019"
left_join.to_sql(sqlite_table, sqlite_connection, if_exists='replace',index=False)

In [14]:
# Query ALL Records in the the Database
code_data = pd.read_sql("SELECT * FROM Housing_2010to2019", sqlite_connection)
code_data.head()

,State,Total Housing Units,Occupied Units,Occupied Percent,1-unit det,1-unit att,2 units,3 or 4 units,5 to 9 units,10 to 19 units,...,SMOCAPI:15 to 19.9 perc(nm),SMOCAPI:20 to 24.9 perc(nm),SMOCAPI:25 to 29.9 perc(nm),SMOCAPI:30 to 34.9 perc(nm),SMOCAPI:35 perc(nm) or more,SMOCAPI not computed(nm),Year,Date,Abbrev,Code
0,Alabama,2284922,1897576,83.0,1557624,39749,40094,70458,97787,76626,...,55668,29523,19914,13017,42615,7862,2019,2019-01-01,Ala.,AL
1,Alaska,319867,252199,78.8,200974,23055,17751,22945,15015,9482,...,5642,3230,2374,891,5764,499,2019,2019-01-01,Alaska,AK
2,Arizona,3076048,2670441,86.8,1947693,146661,41549,105392,122556,135998,...,59786,33922,19820,15488,56680,11628,2019,2019-01-01,Ariz.,AZ
3,Arkansas,1389159,1163647,83.8,968020,20674,43794,48582,48544,53218,...,34660,21684,10598,8907,24083,4408,2019,2019-01-01,Ark.,AR
4,California,14367012,13157873,91.6,8206562,982710,342815,789366,876097,749775,...,204518,135501,91298,63808,256289,27805,2019,2019-01-01,Calif.,CA