In [14]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
!which chromedriver

/usr/local/bin/chromedriver

In [3]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
url = 'https://www.latlong.net/category/states-236-14.html'
browser.visit(url)

html = browser.html

# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')

In [12]:
# Retrieve all elements that contain book information
#coordinates = soup.find('table')

In [27]:
table = pd.read_html(url)

data_frame = table[0]

data_frame

                   Place Name   Latitude   Longitude
0          Wisconsin, the USA  44.500000  -89.500000
1       West Virginia, the US  39.000000  -80.500000
2            Vermont, the USA  44.000000  -72.699997
3              Texas, the USA  31.000000 -100.000000
4        South Dakota, the US  44.500000 -100.000000
5        Rhode Island, the US  41.700001  -71.500000
6              Oregon, the US  44.000000 -120.500000
7            New York, the US  43.000000  -75.000000
8       New Hampshire, the US  44.000000  -71.500000
9            Nebraska, the US  41.500000 -100.000000
10             Kansas, the US  38.500000  -98.000000
11        Mississippi, the US  33.000000  -90.000000
12           Illinois, the US  40.000000  -89.000000
13           Delaware, the US  39.000000  -75.500000
14        Connecticut, the US  41.599998  -72.699997
15           Arkansas, the US  34.799999  -92.199997
16               Indiana, USA  40.273502  -86.126976
17              Missouri, USA  38.573936  -92.603760
18               Florida, USA  27.994402  -81.760254
19                Nevada, USA  39.876019 -117.224121
20             Maine, the USA  45.367584  -68.972168
21              Michigan, USA  44.182205  -84.506836
22           Georgia, the USA  33.247875  -83.441162
23                Hawaii, USA  19.741755 -155.844437
24                Alaska, USA  66.160507 -153.369141
25             Tennessee, USA  35.860119  -86.660156
26              Virginia, USA  37.926868  -78.024902
27            New Jersey, USA  39.833851  -74.871826
28              Kentucky, USA  37.839333  -84.270020
29          North Dakota, USA  47.650589 -100.437012
30             Minnesota, USA  46.392410  -94.636230
31          Oklahoma, the USA  36.084621  -96.921387
32               Montana, USA  46.965260 -109.533691
33  Washington State, the USA  47.751076 -120.740135
34                  Utah, USA  39.419220 -111.950684
35              Colorado, USA  39.113014 -105.358887
36                  Ohio, USA  40.367474  -82.996216
37               Alabama, USA  32.318230  -86.902298
38              Iowa, the USA  42.032974  -93.581543
39            New Mexico, USA  34.307144 -106.018066
40        South Carolina, USA  33.836082  -81.163727
41          Pennsylvania, USA  41.203323  -77.194527
42               Arizona, USA  34.048927 -111.093735
43              Maryland, USA  39.045753  -76.641273
44         Massachusetts, USA  42.407211  -71.382439
45        California, the USA  36.778259 -119.417931
46                 Idaho, USA  44.068203 -114.742043
47               Wyoming, USA  43.075970 -107.290283
48        North Carolina, USA  35.782169  -80.793457
49             Louisiana, USA  30.391830  -92.329102